In [1]:
import pandas as pd

In [2]:
data={}

2010

In [3]:
skips={'AB': [11,9],
 'AR': [9,21],
 'B': [6,0],
 'BC': [31,2],
 'BH': [13,22],
 'B-N': [8,3],
 'BV': [5,18],
 'CLUJ': [10,4],
 'CV': [3,5],
 'CARAS-SEVERIN': [0,18,7],
 'HD': [4,4,2],
 'HR': [4,1],
 'MM': [5,12],
 'MS': [18,2],
 'SB': [3,1],
 'SM': [5,1],
 'SJ': [3,22],
 'TM': [3,6]}

In [4]:
push={'CLUJ':{'megye':''},'HR':{'megye':'telepules'},'MM':{'nyelv':'iskola','iskola':'nyelv'},
     'SJ':{'megye':''}}

In [5]:
xl=pd.ExcelFile('data/raw/Erdely/2010-2011-es tanév/Centralizator_2010-11.xlsx')
dfs=[]
k=0
for s in xl.sheet_names[:]:
    print(s)
    if (skips[s][0]>-1):
        df=xl.parse(s,skiprows=skips[s][0]).dropna(how='all').dropna(how='all',axis=1)
        if -skips[s][1]<0: 
            df=df[:-skips[s][1]].dropna(how='all',axis=1)
        if len(skips[s])>2:
            df=df[skips[s][2]:]
        base_columns=['id','megye','iskola','nyelv']
        if s not in push:
            new_columns=base_columns+list(range(1,14))
        else:
            new_columns=[b if b not in push[s] else push[s][b] for b in base_columns]+list(range(1,14))
            new_columns=[c for c in new_columns if c]
        if len(new_columns)>len(df.columns):
            new_columns=new_columns[:len(df.columns)]
        df=df[df.columns[:len(new_columns)]]
        df.columns=new_columns
        if s in push:
            if 'megye' in push[s]:
                df['megye']=s
        df['id']=range(1,len(df)+1)
        df['orszag']='Romania'
        df['ev']=2010
        dfs.append(df)
data['2010']=pd.concat(dfs).reset_index()

AB
AR
B
BC
BH
B-N
BV
CLUJ
CV
CARAS-SEVERIN
HD
HR
MM
MS
SB
SM
SJ
TM

In [6]:
data['2010'].head(2)

,index,id,megye,iskola,nyelv,1,2,3,4,5,...,7,8,9,10,11,12,13,orszag,ev,telepules
0,1,1,ALBA,Lic.Rom.Cat.”GMGK” Alba Iulia,magh.,5,10,8,2,11,...,9,9,17,19,17,14,0,Romania,2010,NaN
1,2,2,ALBA,SO4 Oiejdea,magh.,6,2,0,7,0,...,0,0,NaN,NaN,NaN,NaN,NaN,Romania,2010,NaN

In [7]:
data['2010'].to_excel('data/raw/Erdely/norm/2010.xlsx')

2011-2016 manual

2017

In [10]:
df=pd.read_excel('data/raw/Erdely/2017-2018-as tanév (SIIIR)/20170930-NrEleviPeMaiMulteDimensiuni-2017-2018.xlsx',sheet_name='Export')

In [14]:
df['LIMBA DE PREDARE'].unique()

array(['Limba română', 'Limba maghiară', 'Limba germană',
       'Limba romani (rromani)', 'Limba sârbă', 'Limba slovacă',
       'Limba neogreacă', 'Limba rusă', 'Limba bulgară', 'Limba italiană',
       'Limba engleză', 'Limba cehă', 'Limba croată', 'Limba ucraineană',
       'Limba polonă'], dtype=object)

In [15]:
df=df[df['LIMBA DE PREDARE']=='Limba maghiară']

In [17]:
df.to_excel('data/raw/Erdely/norm/2017.xlsx')