In [1]:
import pandas as pd

In [2]:
path='data/raw/Erdely/norm/'

Format 2010-2016

In [3]:
c={2010:['xx1', 'xx2', 'ID', 'Megye', 'Név', 'Nyelv', '1. osztályosok', '2. osztályosok', '3. osztályosok', 
         '4. osztályosok', '5. osztályosok', '6. oszosztályosoktály', '7. osztályosok', '8. osztályosok', 
         '9. osztályosok', '10. osztályosok', '11. osztályosok', '12. osztályosok', '13. osztályosok', 
         'Ország', 'Év', 'Település'],
  2011:{'prescolar':['Év', 'Megye', 'ID', 'Település', 'Név', 'Nyelv', 'Óvodás csoportok összesen', 'Óvodások összesen', 
        'Nagycsoportok száma', 'Nagycsoportosok', 'Előkészítő osztályok száma', 'Előkészítő osztályosok', 
        'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
        'primar': ['Év', 'Megye', 'ID', 'Település', 'Név', 'Nyelv', '1. osztályok száma', '1. osztályosok', 
                   '2. osztályok száma', '2. osztályosok', '3. osztályok száma', '3. osztályosok', 
                   '4. osztályok száma', '4. osztályosok', 'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
        'gimnazial': ['Év', 'Megye', 'ID', 'Település', 'Név', 'Nyelv', '5. osztályok száma', '5. osztályosok', 
                   '6. osztályok száma', '6. osztályosok', '7. osztályok száma', '7. osztályosok', 
                      '8. osztályok száma', '8. osztályosok', 'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
        'liceal': ['Év', 'Megye', 'ID', 'Település', 'Név', 'Nyelv', '9. osztályok száma', '9. osztályosok', 
                   '10. osztályok száma', '10. osztályosok', '11. osztályok száma', '11. osztályosok', '12. osztályok száma', '12. osztályosok', 
                   'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók','13. osztályok száma', '13. osztályosok']
       }
  }
c[2012]={'prescolar':['Év', 'Megye', 'ID', 'Település', 'Név', 'Óvodás csoportok összesen', 'Óvodások összesen', 
                      'Kiscsoportok száma', 'Kiscsoportosok', 'Középcsoportok száma', 'Középcsoportosok', 
                      'Nagycsoportok száma', 'Nagycsoportosok', 'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
        'primar': ['Év', 'Megye', 'ID', 'Település', 'Név', 'Elemi osztályok összesen', 'Elemisek összesen',
                   'Előkészítő osztályok száma', 'Előkészítő osztályosok', '1. osztályok száma', '1. osztályosok', 
                   '2. osztályok száma', '2. osztályosok', '3. osztályok száma', '3. osztályosok', 
                   '4. osztályok száma', '4. osztályosok', 'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
        'gimnazial': ['Év', 'Megye', 'ID', 'Település', 'Név', '5. osztályok száma', '5. osztályosok', 
                   '6. osztályok száma', '6. osztályosok', '7. osztályok száma', 
                   '7. osztályosok', '8. osztályok száma', '8. osztályosok', 
                   'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
        'liceal': ['Év', 'Megye', 'ID', 'Település', 'Név', 'Középiskolai osztályok összesen', 'Középiskolások összesen', 
                   '9. osztályok száma', '9. osztályosok', '10. osztályok száma', '10. osztályosok', 
                   '11. osztályok száma', '11. osztályosok', '12. osztályok száma', '12. osztályosok', 
                   'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók',
                   '13. osztályok száma', '13. osztályosok','14. osztályok száma', '14. osztályosok']
       }
c[2013]=c[2012]
c[2014]={'prescolar':c[2012]['prescolar']+['Vegyes csoportok száma', 'Vegyescsoportosok'],
         'primar':c[2012]['primar'],
         'gimnazial':['Év', 'Megye', 'ID', 'Település', 'Név', 'Általános osztályok összesen', 'Általánososok összesen', 
                      '5. osztályok száma', '5. osztályosok', '6. osztályok száma', '6. osztályosok', 
                      '7. osztályok száma', '7. osztályosok', '8. osztályok száma', '8. osztályosok', 
                      'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók'],
         'liceal':['Év', 'Megye', 'ID', 'Település', 'Név', 'Típus', 'Profil',
                   'Középiskolai osztályok összesen', 'Középiskolások összesen', '9. osztályok száma', '9. osztályosok', 
                   '10. osztályok száma', '10. osztályosok', '11. osztályok száma', '11. osztályosok', 
                   '12. osztályok száma', '12. osztályosok', 'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók',
                   '13. osztályok száma', '13. osztályosok','14. osztályok száma', '14. osztályosok']
       }
c[2015]={'prescolar':c[2014]['prescolar']+['Továbbtanulás','Iskolabusz'],
         'primar':c[2014]['primar']+['Továbbtanulás','Iskolabusz'],
         'gimnazial':c[2014]['gimnazial'],
         'liceal':c[2014]['liceal']
       }
c[2016]=c[2015]

In [4]:
dfs=[]
for y in range(2010,2017):
    if y in [2010]:
        df=pd.read_excel(path+str(y)+'.xlsx')
        if y in c:
            df.columns=c[y]
        df=df[[i for i in df.columns if 'xx' not in i]]
        dfs.append(df)
    else:
        for s in ['prescolar','primar','gimnazial','liceal']:
            df=pd.read_excel(path+str(y)+'.xlsx',sheet_name=s)
            if y in c:
                if s in c[y]:
                    df.columns=c[y][s]
            df=df[[i for i in df.columns if 'xx' not in i]]
            dfs.append(df)

In [5]:
df=pd.concat(dfs)

In [6]:
df=df[['Év', 'Megye', 'Település', 'Név', 'Típus', 'Profil',
       'Továbbtanulás', 'Iskolabusz', 'Óvodás csoportok összesen',
       'Óvodások összesen', 'Kiscsoportok száma', 'Kiscsoportosok',
       'Középcsoportok száma', 'Középcsoportosok', 'Nagycsoportok száma',
       'Nagycsoportosok', 'Vegyes csoportok száma', 'Vegyescsoportosok',
       'Tanítók összesen', 'Képzett tanítók', 'Képzetlen tanítók', 
       'Elemi osztályok összesen', 'Elemisek összesen',
       'Előkészítő osztályok száma', 'Előkészítő osztályosok',
       '1. osztályok száma', '1. osztályosok', '2. osztályok száma',
       '2. osztályosok', '3. osztályok száma', '3. osztályosok',
       '4. osztályok száma', '4. osztályosok', 'Általános osztályok összesen',
       'Általánososok összesen', '5. osztályok száma', '5. osztályosok',
       '6. osztályok száma', '6. osztályosok', '7. osztályok száma',
       '7. osztályosok', '8. osztályok száma', '8. osztályosok', 
       'Középiskolai osztályok összesen', 'Középiskolások összesen',
       '9. osztályok száma', '9. osztályosok', '10. osztályok száma',
       '10. osztályosok', '11. osztályok száma', '11. osztályosok',
       '12. osztályok száma', '12. osztályosok', '13. osztályok száma',
       '13. osztályosok', '14. osztályok száma', '14. osztályosok',]]
df['Év']=df['Év'].ffill()
df['Megye']=df['Megye'].ffill().str.upper()

Format 2017

In [346]:
df.to_excel('data/clean/erdely.xlsx')

In [324]:
y=2017
dz=pd.read_excel(path+str(y)+'.xlsx')

In [325]:
dz.columns

Index(['Unnamed: 0', 'JUDET', 'LOCALITATE', 'SIRUTA', 'COD SIIIR',
       'DENUMIRE UNITATE', 'COD SIIIR SUPERIOR', 'TIP UNITATE (PJ/AR)',
       'MEDIU', 'NIVEL', 'FILIERA', 'PROFIL', 'SPECIALIZARE',
       'LIMBA DE PREDARE', 'CLASA', 'TIP EDUCATIE', 'FORMA EDUCATIE',
       'FINANTARE', 'PROPRIETATE', 'CLASE', 'COPIIDISTINCTI', 'PROMOVAT',
       'REPETENT', 'TRANSFERAT', 'SITDESCHISA', 'EXMATRICULAT',
       'SITNEINCHEIATA'],
      dtype='object')

In [326]:
dz=dz[~dz['NIVEL'].isin(['Postliceal'])]

In [327]:
dz['CLASA']=dz['CLASA'].replace({'Anul I':'Clasa a IX-a', 'Anul III':'Clasa a XI-a', 'Anul II':'Clasa a X-a','Anul IV':'Clasa a XII-a',
                                'Nivel I': 'Clasa I','Nivel II':'Clasa a II-a','Nivel III':'Clasa a III-a','Nivel IV':'Clasa a IV-a',
                               'Clasa a IX-a - Special':'Clasa a IX-a','Clasa a X-a - Special':'Clasa a X-a'})

In [328]:
dz['CLASA'].unique()

array(['Clasa a IX-a', 'Clasa a XI-a', 'Clasa a X-a', 'Clasa a VIII-a',
       'Clasa a VI-a', 'Clasa a XII-a', 'Clasa I', 'Clasa a III-a',
       'Clasa a II-a', 'Clasa a VII-a', 'Clasa a IV-a',
       'Clasa pregătitoare', 'Clasa a V-a', 'Grupa mare', 'Grupa mică',
       'Grupa mijlocie', 'Clasa a XIII-a'], dtype=object)

Manually fix duplicate entires

In [329]:
import numpy as np

In [330]:
dz['JUDET'].unique()

array(['AB', 'AR', 'B', 'BC', 'BH', 'BN', 'BV', 'CJ', 'CS', 'CV', 'HD',
       'HR', 'MM', 'MS', 'SB', 'SJ', 'SM', 'TM'], dtype=object)

In [331]:
dk=dz.set_index(['JUDET','LOCALITATE','DENUMIRE UNITATE','FORMA EDUCATIE',
                  'FILIERA','PROFIL', 'SPECIALIZARE','CLASA'])[['COPIIDISTINCTI','CLASE','Unnamed: 0']]\
    .loc['MS']
dk.loc[dk.index[np.where(dk.index.duplicated())]]

Empty DataFrame
Columns: [COPIIDISTINCTI, CLASE, Unnamed: 0]
Index: []

In [339]:
dz2=dz.set_index(['JUDET', 'LOCALITATE','DENUMIRE UNITATE','FORMA EDUCATIE',
                  'FILIERA','PROFIL', 'SPECIALIZARE','CLASA'])[['COPIIDISTINCTI','CLASE']].unstack().reset_index()

In [340]:
dz2['Year']=2017
dz2['Típus']=dz2['FORMA EDUCATIE']+'+'+dz2['FILIERA']
dz2['Profil']=dz2['PROFIL']+'+'+dz2['SPECIALIZARE']
dz2=dz2.drop(['FORMA EDUCATIE','FILIERA','PROFIL', 'SPECIALIZARE'],axis=1)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\generic.py:3936: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  obj = obj._drop_axis(labels, axis, level=level, errors=errors)

In [342]:
dz2.columns=['Megye','Település','Név','1. osztályosok','2. osztályosok','3. osztályosok','4. osztályosok',
            '5. osztályosok','6. osztályosok','7. osztályosok','8. osztályosok','9. osztályosok',
            '10. osztályosok','11. osztályosok','12. osztályosok','13. osztályosok',
             'Előkészítő osztályosok','Nagycsoportosok','Kiscsoportosok','Középcsoportosok',
             
             '1. osztályok száma','2. osztályok száma','3. osztályok száma','4. osztályok száma',
            '5. osztályok száma','6. osztályok száma','7. osztályok száma','8. osztályok száma','9. osztályok száma','10. osztályok száma',
            '11. osztályok száma','12. osztályok száma','13. osztályok száma',
             'Előkészítő osztályok száma','Nagycsoportok száma','Középcsoportok száma','Kiscsoportok száma',
            'Év','Típus', 'Profil']

In [347]:
dg=pd.concat([df,dz2])

In [348]:
dg.to_excel('data/clean/erdely2.xlsx')

Final cleaning

In [470]:
dg=pd.read_excel('data/clean/erdely2_manual.xlsx').drop('Unnamed: 0',axis=1)

In [471]:
dg.columns

Index(['Év', 'Megye', 'Település', 'Név', 'Típus', 'Profil', 'Továbbtanulás',
       'Iskolabusz', 'Óvodás csoportok összesen', 'Óvodások összesen',
       'Kiscsoportok száma', 'Kiscsoportosok', 'Középcsoportok száma',
       'Középcsoportosok', 'Nagycsoportok száma', 'Nagycsoportosok',
       'Vegyes csoportok száma', 'Vegyescsoportosok', 'Tanítók összesen',
       'Képzett tanítók', 'Képzetlen tanítók', 'Elemi osztályok összesen',
       'Elemisek összesen', 'Előkészítő osztályok száma',
       'Előkészítő osztályosok', '1. osztályok száma', '1. osztályosok',
       '2. osztályok száma', '2. osztályosok', '3. osztályok száma',
       '3. osztályosok', '4. osztályok száma', '4. osztályosok',
       'Általános osztályok összesen', 'Általánososok összesen',
       '5. osztályok száma', '5. osztályosok', '6. osztályok száma',
       '6. osztályosok', '7. osztályok száma', '7. osztályosok',
       '8. osztályok száma', '8. osztályosok',
       'Középiskolai osztályok összesen', 'Középiskolások összesen',
       '9. osztályok száma', '9. osztályosok', '10. osztályok száma',
       '10. osztályosok', '11. osztályok száma', '11. osztályosok',
       '12. osztályok száma', '12. osztályosok', '13. osztályok száma',
       '13. osztályosok', '14. osztályok száma', '14. osztályosok'],
      dtype='object')

In [472]:
dg['Év']=dg['Év'].astype(int)

In [473]:
dg['Megye']=dg['Megye'].ffill()
dg['Település']=dg['Település'].ffill()
dg['Név']=dg['Név'].ffill()

In [474]:
dg['Megye'].unique()

array(['ALBA', 'ARAD', 'BUCURESTI', 'BC', 'BIHOR', 'B-N', 'BRAŞOV',
       'CLUJ', 'CV', 'CS', 'HD', 'HR', 'MM', 'MUREȘ', 'SIBIU',
       'SATU MARE ', 'SJ', 'TIMIŞ', 'AB', 'AR', 'BN', 'BH', 'BV', 'B',
       'CJ', 'MS', 'SM', 'SB', 'TM'], dtype=object)

In [475]:
dg['Megye']=dg['Megye'].replace({'ALBA':'Fehér', 'ARAD':'Arad', 'BUCURESTI':'Bukarest', 'BC':'Bákó', 'BIHOR':'Bihar',
                                 'B-N':'Beszterce-Naszód', 'BRAŞOV':'Brassó',
       'CLUJ':'Kolozs', 'CV':'Kovászna', 'CS':'Krassó-Szörény', 'HD':'Hunyad', 'HR':'Hargita', 'MM':'Máramaros', 'MUREȘ':'Maros', 
                                 'SIBIU':'Szeben',
       'SATU MARE ':'Szatmár', 'SJ':'Szilágy', 'TIMIŞ':'Temes', 'AB':'Fehér', 'AR':'Arad', 'BN':'Beszterce-Naszód', 'BH':'Bihar', 
                                 'BV':'Brassó', 'B':'Bukarest',
       'CJ':'Kolozs', 'MS':'Maros', 'SM':'Szatmár', 'SB':'Szeben', 'TM':'Temes'})

In [476]:
dg['Megye'].unique()

array(['Fehér', 'Arad', 'Bukarest', 'Bákó', 'Bihar', 'Beszterce-Naszód',
       'Brassó', 'Kolozs', 'Kovászna', 'Krassó-Szörény', 'Hunyad',
       'Hargita', 'Máramaros', 'Maros', 'Szeben', 'Szatmár', 'Szilágy',
       'Temes'], dtype=object)

In [477]:
cities=[]
for i in list(dg.T.iteritems()):
    if str(i[1][2])=='nan':
        cities.append(i[1][3].split(' ')[-1])
    else:
        cities.append(i[1][2])

In [478]:
dg['Település']=cities

In [396]:
dg.to_excel('data/clean/erdely3.xlsx')