In [3]:
# !pip install pandas

In [4]:
import pandas as pd

In [8]:
df=pd.read_csv('https://raw.githubusercontent.com/EconomicsObservatory/ECOvisualisations/main/articles/2021-08-04-where-are-the-uks-levelling-up-funds-most-needed/data/fig1_imd.csv')
df=df.drop('Unnamed: 0',axis=1)

In [15]:
categories={'local_authorities': 'categories',
 'y_axis_allcat_rank': 'values',
 'x_axis_imd_rank': 'values',
 'lad_id': 'categories',
 'country': 'categories',
 'levelling_up_categorisation': 'categories',
 'region': 'categories',
 'supergroup_name': 'categories',
 'quadrant': 'categories',
 'label_2_highest_lowest': 'categories'}

In [34]:
series=[]
for c in df.columns:
    print(c)
    dummy={}
    dummy['name']=c
    dummy['type']=categories[c]
    if categories[c]=='value':
        dummy['values']=[int(i) for i in df[c].values]
    else:
        dummy['values']=[str(i) for i in df[c].values]
    series.append(dummy)

local_authorities
y_axis_allcat_rank
x_axis_imd_rank
lad_id
country
levelling_up_categorisation
region
supergroup_name
quadrant
label_2_highest_lowest

In [35]:
import json

In [39]:
open('data.js','w').write('export var data = '+json.dumps({'series':series}))

38487

In [47]:
df['quadrant']

0      quadrant 1
1      quadrant 1
2      quadrant 1
3      quadrant 1
4      quadrant 1
          ...
306    quadrant 4
307    quadrant 4
308    quadrant 4
309    quadrant 4
310    quadrant 4
Name: quadrant, Length: 311, dtype: object