In [3]:
# !pip install pandas

In [1]:
import pandas as pd

In [24]:
df=pd.read_csv('https://raw.githubusercontent.com/EconomicsObservatory/ECOvisualisations/main/articles/2021-08-04-where-are-the-uks-levelling-up-funds-most-needed/data/fig1_imd.csv')
df=df.drop('Unnamed: 0',axis=1)
df['one']=1
df['lab']=[i if i=='lab' else '' for i in df['label_2_highest_lowest']]

In [25]:
categories={'local_authorities': 'categories',
 'y_axis_allcat_rank': 'values',
 'x_axis_imd_rank': 'values',
 'lad_id': 'categories',
 'country': 'categories',
 'levelling_up_categorisation': 'categories',
 'region': 'categories',
 'supergroup_name': 'categories',
 'quadrant': 'categories',
 'label_2_highest_lowest': 'categories',
 'one':'values',
 'lab':'categories'}

In [26]:
series=[]
for c in df.columns:
    print(c)
    dummy={}
    dummy['name']=c
    dummy['type']=categories[c]
    if categories[c]=='value':
        dummy['values']=[int(i) for i in df[c].values]
    else:
        dummy['values']=[str(i) for i in df[c].values]
    series.append(dummy)

local_authorities
y_axis_allcat_rank
x_axis_imd_rank
lad_id
country
levelling_up_categorisation
region
supergroup_name
quadrant
label_2_highest_lowest
one
lab

In [27]:
import json

In [28]:
open('data.js','w').write('export var data = '+json.dumps({'series':series}))

41396

In [23]:
df

,local_authorities,y_axis_allcat_rank,x_axis_imd_rank,lad_id,country,levelling_up_categorisation,region,supergroup_name,quadrant,label_2_highest_lowest,one
0,Haringey,11,37,E09000014,England,2,London,London Cosmopolitan,quadrant 1,lab,1
1,Great Yarmouth,26,24,E07000145,England,1,East,Countryside Living,quadrant 1,lab,1
2,Luton,8,52,E06000032,England,1,East,Ethnically Diverse Metropolitan Living,quadrant 1,nolab,1
3,Tendring,29,32,E07000076,England,1,East,Countryside Living,quadrant 1,nolab,1
4,Barking and Dagenham,58,5,E09000002,England,1,London,Ethnically Diverse Metropolitan Living,quadrant 1,nolab,1
...,...,...,...,...,...,...,...,...,...,...,...
306,South Gloucestershire,289,265,E06000025,England,3,South West,Town and Country Living,quadrant 4,nolab,1
307,Test Valley,302,260,E07000093,England,3,South East,Affluent England,quadrant 4,nolab,1
308,Ribble Valley,285,278,E07000124,England,3,North West,Countryside Living,quadrant 4,nolab,1
309,Waverley,255,308,E07000216,England,3,South East,Affluent England,quadrant 4,lab,1
310,Rushcliffe,297,309,E07000176,England,3,East Midlands,Affluent England,quadrant 4,lab,1