Ha nincs meg minden bővítőcsomag, akkor feltesszük ezeket `console`-ból vagy `!` a cella elejére.

In [8]:
import pandas as pd

In [10]:
!pip install xlrd

Requirement already satisfied: xlrd in c:\programdata\anaconda3\lib\site-packages (1.2.0)

Pandasban az táblázatatok `DataFrame`-ek.

http://csaladen.es/present/bi/2019/jupyter/set-date-deschise-vtp2015.xlsx

In [144]:
df=pd.read_excel('set-date-deschise-vtp2015.xlsx')

Vízszintes sorok nevei

In [15]:
df.index

RangeIndex(start=0, stop=880, step=1)

Oszlopok nevei

In [16]:
df.columns

Index(['gen', 'varsta', 'Destinatie_tara1', 'Cetatenie', 'mediu_prov',
       'judet_domiciliu', 'Nivel educatie', 'Relatia cu recrutorul',
       'Forma de exploatare'],
      dtype='object')

Első néhány sor

In [18]:
df.head(2)

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare
0,feminin,25,Spania,Romana,rural,Galati,studii gimnaziale,partener(a)/sot(ie),exploatare sexuala
1,feminin,38,Spania,Romana,rural,Vrancea,NaN,cunostinta/prieten(a),exploatare sexuala

Utolsó néhány sor

In [19]:
df.tail(2)

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare
878,feminin,39,Romania,Straina,urban,NaN,studii liceale,cunostinta/prieten(a),exploatare sexuala
879,feminin,24,Romania,Straina,rural,NaN,studii gimnaziale,proxenet,exploatare sexuala

Szűrés több oszlop szerint

In [28]:
df['varsta'].head(2)

0    25
1    38
Name: varsta, dtype: int64

In [24]:
df[ ['varsta','gen'] ].head(2)

   varsta      gen
0      25  feminin
1      38  feminin

In [26]:
df[ ['varsta'] ].head(2)

   varsta
0      25
1      38

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 880 entries, 0 to 879
Data columns (total 9 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   gen                    880 non-null    object
 1   varsta                 880 non-null    int64
 2   Destinatie_tara1       879 non-null    object
 3   Cetatenie              880 non-null    object
 4   mediu_prov             865 non-null    object
 5   judet_domiciliu        874 non-null    object
 6   Nivel educatie         821 non-null    object
 7   Relatia cu recrutorul  849 non-null    object
 8   Forma de exploatare    880 non-null    object
dtypes: int64(1), object(8)
memory usage: 62.0+ KB

In [37]:
df['varsta'].astype(str).head()

0    25
1    38
2    22
3    32
4    25
Name: varsta, dtype: object

In [39]:
df.describe()

           varsta
count  880.000000
mean    24.100000
std     10.976508
min      2.000000
25%     16.000000
50%     20.000000
75%     29.000000
max     68.000000

In [40]:
az_en_oszlopom=['varsta','Cetatenie','gen']

In [41]:
az_en_oszlopom

['varsta', 'Cetatenie', 'gen']

In [47]:
df2=df[az_en_oszlopom].head(2)
df2

   varsta Cetatenie      gen
0      25    Romana  feminin
1      38    Romana  feminin

In [53]:
df.astype?

Signature: df.astype(dtype, copy: bool = True, errors: str = 'raise') -> ~FrameOrSeries
Docstring:
Cast a pandas object to a specified dtype ``dtype``.

Parameters
----------
dtype : data type, or dict of column name -> data type
    Use a numpy.dtype or Python type to cast entire pandas object to
    the same type. Alternatively, use {col: dtype, ...}, where col is a
    column label and dtype is a numpy.dtype or Python type to cast one
    or more of the DataFrame's columns to column-specific types.
copy : bool, default True
    Return a copy when ``copy=True`` (be very careful setting
    ``copy=False`` as changes to values then may propagate to other
    pandas objects).
errors : {'raise', 'ignore'}, default 'raise'
    Control raising of exceptions on invalid data for provided dtype.

    - ``raise`` : allow exceptions to be raised
    - ``ignore`` : suppress exceptions. On error return original object.

Returns
-------
casted : same type as caller

See Also
--------
to_datetime : Convert argument to datetime.
to_timedelta : Convert argument to timedelta.
to_numeric : Convert argument to a numeric type.
numpy.ndarray.astype : Cast a numpy array to a specified type.

Examples
--------
Create a DataFrame:

>>> d = {'col1': [1, 2], 'col2': [3, 4]}
>>> df = pd.DataFrame(data=d)
>>> df.dtypes
col1    int64
col2    int64
dtype: object

Cast all columns to int32:

>>> df.astype('int32').dtypes
col1    int32
col2    int32
dtype: object

Cast col1 to int32 using a dictionary:

>>> df.astype({'col1': 'int32'}).dtypes
col1    int32
col2    int64
dtype: object

Create a series:

>>> ser = pd.Series([1, 2], dtype='int32')
>>> ser
0    1
1    2
dtype: int32
>>> ser.astype('int64')
0    1
1    2
dtype: int64

Convert to categorical type:

>>> ser.astype('category')
0    1
1    2
dtype: category
Categories (2, int64): [1, 2]

Convert to ordered categorical type with custom ordering:

>>> cat_dtype = pd.api.types.CategoricalDtype(
...     categories=[2, 1], ordered=True)
>>> ser.astype(cat_dtype)
0    1
1    2
dtype: category
Categories (2, int64): [2 < 1]

Note that using ``copy=False`` and changing data on a new
pandas object may propagate changes:

>>> s1 = pd.Series([1, 2])
>>> s2 = s1.astype('int64', copy=False)
>>> s2[0] = 10
>>> s1  # note that s1[0] has changed too
0    10
1     2
dtype: int64
File:      c:\programdata\anaconda3\lib\site-packages\pandas\core\generic.py
Type:      method

Szűrés egyetloen oszlopra lehet `Series` vagy `DataFrame`.

In [54]:
print(type(df[['varsta']]))
print(type(df['varsta']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

Sorok szerinti szűrés

In [55]:
az_en_indexem=[2,4,67]
df3=df.loc[az_en_indexem]
df3

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare
2,feminin,22,Danemarca,Romana,urban,Constanta,studii gimnaziale,NaN,exploatare sexuala
4,masculin,25,Portugalia,Romana,urban,Ilfov,NaN,cunostinta/prieten(a),exploatare prin munca
67,feminin,27,Italia,Romana,urban,Dolj,studii liceale,rude,obligarea la cersetorie

In [58]:
df.loc[[2,4]][['gen','varsta']]

        gen  varsta
2   feminin      22
4  masculin      25

In [59]:
df[['gen','varsta']].loc[[2,4]]

        gen  varsta
2   feminin      22
4  masculin      25

Pandas dokumentációban van sok más típusú szűrés (`iloc`, `xslice`) és még sok más.

Új oszlop hozzáadása.

In [62]:
df['uj']=42

In [63]:
df

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare,uj
0,feminin,25,Spania,Romana,rural,Galati,studii gimnaziale,partener(a)/sot(ie),exploatare sexuala,42
1,feminin,38,Spania,Romana,rural,Vrancea,NaN,cunostinta/prieten(a),exploatare sexuala,42
2,feminin,22,Danemarca,Romana,urban,Constanta,studii gimnaziale,NaN,exploatare sexuala,42
3,feminin,32,Italia,Romana,rural,Vaslui,NaN,NaN,exploatare sexuala,42
4,masculin,25,Portugalia,Romana,urban,Ilfov,NaN,cunostinta/prieten(a),exploatare prin munca,42
...,...,...,...,...,...,...,...,...,...,...
875,masculin,18,Grecia,Romana,rural,Mehedinti,studii gimnaziale,vecin,exploatare prin munca,42
876,masculin,62,Grecia,Romana,rural,Mehedinti,studii liceale,necunoscut,exploatare prin munca,42
877,masculin,28,Grecia,Romana,rural,Mehedinti,studii gimnaziale,cunostinta/prieten(a),exploatare prin munca,42
878,feminin,39,Romania,Straina,urban,NaN,studii liceale,cunostinta/prieten(a),exploatare sexuala,42
879,feminin,24,Romania,Straina,rural,NaN,studii gimnaziale,proxenet,exploatare sexuala,42

Új oszlop egyenlő méretű listát kell tartalmazzon a `DataFrame` sorai számával.

In [68]:
df['uj2']=range(880)
df['uj2']=range(len(df))
#df['uj2']=range(870) #nem mukodik

In [69]:
df.head(2)

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare,uj,uj2
0,feminin,25,Spania,Romana,rural,Galati,studii gimnaziale,partener(a)/sot(ie),exploatare sexuala,42,0
1,feminin,38,Spania,Romana,rural,Vrancea,NaN,cunostinta/prieten(a),exploatare sexuala,42,1

Exportálás pl. Excelbe

In [70]:
df[['gen','varsta','Destinatie_tara1']].to_excel('enyim.xlsx')

In [79]:
!dir

 Volume in drive E is MY
 Volume Serial Number is 7851-8AE0

 Directory of E:\Skydrive\Github\csaladenes.github.io\present\bi\2019\jupyter

03/12/2020  09:11 AM    <DIR>          .
03/12/2020  09:11 AM    <DIR>          ..
03/12/2020  09:13 AM    <DIR>          .ipynb_checkpoints
03/12/2020  09:11 AM            87,088 1_python_bevezeto.ipynb
12/09/2019  10:26 AM            40,960 2.17deaths causes.xls
12/11/2019  10:02 PM            96,060 2_pandas_filetipusok.ipynb
12/12/2019  10:58 PM             7,836 3_geokodolas.ipynb
12/11/2019  10:05 PM             8,124 4-datumok.ipynb
12/12/2019  10:54 PM            13,552 5b_table_from_pdf-pelda2.ipynb
12/11/2019  10:28 PM             9,231 5_table_from_pdf.ipynb
12/12/2019  05:16 PM            62,644 6b_pdf_ocr_excel-pelda2.ipynb
12/12/2019  05:17 PM            52,480 6_pdf_ocr_excel.ipynb
12/10/2019  11:15 AM                39 apikey.txt
12/12/2019  10:48 PM           297,669 Benevezesek.pdf
12/12/2019  08:26 PM           256,950 countries.geo.json
12/11/2019  09:55 PM            27,460 countries_ro.geo.json
12/09/2019  10:27 AM         8,245,532 data.json
12/11/2019  09:55 PM             5,931 df5.xlsx
03/12/2020  09:09 AM            90,566 enyim.csv
03/12/2020  09:09 AM           158,008 enyim.json
03/12/2020  09:08 AM            22,399 enyim.xlsx
12/10/2019  03:59 PM            84,158 foo.pdf
12/10/2019  11:58 AM             7,074 koordinatak.xlsx
12/09/2019  01:13 PM               472 lev.py
12/10/2019  02:04 PM        10,868,798 Lista candidatilor admisi - Licenta - sesiunea septembrie 2017.pdf
12/10/2019  02:27 PM           266,436 Lista inscrisi Admitere Licenta sept 11.09.2015.pdf
01/18/2020  06:12 PM    <DIR>          pdf
12/10/2019  01:49 PM            11,547 pensiunea comfort 1.xlsx
12/10/2019  03:18 PM           560,014 Serial Killer Statistics.pdf
12/09/2019  10:26 AM            46,759 set-date-deschise-vtp2015.xlsx
              26 File(s)     21,327,787 bytes
               4 Dir(s)  123,588,935,680 bytes free

In [71]:
df.to_json('enyim.json')

In [72]:
df.to_csv('enyim.csv')

In [77]:
pd.read_json('enyim.json').head(2)

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare,uj,uj2
0,feminin,25,Spania,Romana,rural,Galati,studii gimnaziale,partener(a)/sot(ie),exploatare sexuala,42,0
1,feminin,38,Spania,Romana,rural,Vrancea,None,cunostinta/prieten(a),exploatare sexuala,42,1

In [78]:
pd.read_csv('enyim.csv').head(2)

,Unnamed: 0,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare,uj,uj2
0,0,feminin,25,Spania,Romana,rural,Galati,studii gimnaziale,partener(a)/sot(ie),exploatare sexuala,42,0
1,1,feminin,38,Spania,Romana,rural,Vrancea,NaN,cunostinta/prieten(a),exploatare sexuala,42,1

Egyediségvizsgálat

In [86]:
len(df)

880

In [87]:
df['Destinatie_tara1'].unique()

array(['Spania', 'Danemarca', 'Italia', 'Portugalia', 'Irlanda',
       'Austria', 'UK', 'Germania', 'Franta', 'Elvetia', 'Romania',
       'Suedia', 'Olanda', 'Grecia', 'Finlanda', 'Cehia', 'Norvegia',
       'Belgia', 'Ungaria', 'Cipru', 18, 'Libia', 'Qatar', 999, 'Turcia',
       'Bahamas', nan], dtype=object)

In [88]:
len(df['Destinatie_tara1'].unique())

27

In [91]:
df['Cetatenie'].unique()

array(['Romana', 'Straina'], dtype=object)

Számolás `NaN` elemek nélkül.

In [89]:
df.count()

gen                      880
varsta                   880
Destinatie_tara1         879
Cetatenie                880
mediu_prov               865
judet_domiciliu          874
Nivel educatie           821
Relatia cu recrutorul    849
Forma de exploatare      880
uj                       880
uj2                      880
dtype: int64

Egyedi számolás `NaN` elemek nélkül.

In [90]:
df.nunique()

gen                        2
varsta                    59
Destinatie_tara1          26
Cetatenie                  2
mediu_prov                 2
judet_domiciliu           42
Nivel educatie             7
Relatia cu recrutorul      6
Forma de exploatare        6
uj                         1
uj2                      880
dtype: int64

Csoportosítani oszlopok szerint

In [97]:
df.groupby('Destinatie_tara1').nunique().head()

,gen,varsta,Destinatie_tara1,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare,uj,uj2
Destinatie_tara1,,,,,,,,,,,
18,1,1,1,1,1,1,1,1,1,1,1
999,1,1,1,1,1,1,1,1,1,1,1
Austria,1,11,1,1,2,12,4,6,4,1,23
Bahamas,1,1,1,1,1,1,1,1,1,1,1
Belgia,2,10,1,1,2,5,3,3,3,1,13

In [98]:
df.groupby(['judet_domiciliu','Destinatie_tara1']).mean() #tobb oszlop is lehet a szuro

                                     varsta    uj         uj2
judet_domiciliu Destinatie_tara1
Alba            Austria           19.500000  42.0  698.500000
                Franta            26.000000  42.0  705.000000
                Italia            20.000000  42.0  685.000000
                Romania           15.500000  42.0  699.000000
Arad            Germania          18.000000  42.0  656.000000
...                                     ...   ...         ...
Vrancea         Grecia            19.500000  42.0  532.000000
                Italia            24.000000  42.0  521.000000
                Olanda            18.000000  42.0  779.000000
                Romania           18.818182  42.0  529.181818
                Spania            38.000000  42.0    1.000000

[217 rows x 3 columns]

In [99]:
df4=df.groupby(['judet_domiciliu','Destinatie_tara1']).mean() #tobb oszlop is lehet a szuro

In [106]:
!pip install pandas --upgrade

Requirement already up-to-date: pandas in c:\programdata\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.2 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.6.1 in c:\programdata\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied, skipping upgrade: numpy>=1.13.3 in c:\programdata\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

In [110]:
df4.index

MultiIndex([(   'Alba',   'Austria'),
            (   'Alba',    'Franta'),
            (   'Alba',    'Italia'),
            (   'Alba',   'Romania'),
            (   'Arad',  'Germania'),
            (   'Arad',   'Irlanda'),
            (   'Arad',   'Romania'),
            (   'Arad',    'Spania'),
            (  'Arges',   'Austria'),
            (  'Arges',  'Germania'),
            ...
            ( 'Vaslui',   'Irlanda'),
            ( 'Vaslui',    'Italia'),
            ( 'Vaslui',   'Romania'),
            ('Vrancea',   'Austria'),
            ('Vrancea', 'Danemarca'),
            ('Vrancea',    'Grecia'),
            ('Vrancea',    'Italia'),
            ('Vrancea',    'Olanda'),
            ('Vrancea',   'Romania'),
            ('Vrancea',    'Spania')],
           names=['judet_domiciliu', 'Destinatie_tara1'], length=217)

In [109]:
df4.index.get_level_values(0)

Index(['Alba', 'Alba', 'Alba', 'Alba', 'Arad', 'Arad', 'Arad', 'Arad', 'Arges',
       'Arges',
       ...
       'Vaslui', 'Vaslui', 'Vaslui', 'Vrancea', 'Vrancea', 'Vrancea',
       'Vrancea', 'Vrancea', 'Vrancea', 'Vrancea'],
      dtype='object', name='judet_domiciliu', length=217)

In [111]:
df4.index.get_level_values(1)

Index([  'Austria',    'Franta',    'Italia',   'Romania',  'Germania',
         'Irlanda',   'Romania',    'Spania',   'Austria',  'Germania',
       ...
         'Irlanda',    'Italia',   'Romania',   'Austria', 'Danemarca',
          'Grecia',    'Italia',    'Olanda',   'Romania',    'Spania'],
      dtype='object', name='Destinatie_tara1', length=217)

In [114]:
df4.loc['Alba'].loc['Austria']

varsta     19.5
uj         42.0
uj2       698.5
Name: Austria, dtype: float64

In [116]:
df4.reset_index()

    judet_domiciliu Destinatie_tara1     varsta    uj         uj2
0              Alba          Austria  19.500000  42.0  698.500000
1              Alba           Franta  26.000000  42.0  705.000000
2              Alba           Italia  20.000000  42.0  685.000000
3              Alba          Romania  15.500000  42.0  699.000000
4              Arad         Germania  18.000000  42.0  656.000000
..              ...              ...        ...   ...         ...
212         Vrancea           Grecia  19.500000  42.0  532.000000
213         Vrancea           Italia  24.000000  42.0  521.000000
214         Vrancea           Olanda  18.000000  42.0  779.000000
215         Vrancea          Romania  18.818182  42.0  529.181818
216         Vrancea           Spania  38.000000  42.0    1.000000

[217 rows x 5 columns]

In [146]:
df=df.set_index('Destinatie_tara1')
#df.set_index('Destinatie_tara1',inplace=True)

In [153]:
df.index=df.index.astype(str)

In [154]:
df=df.sort_index()
df

,gen,varsta,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare
Destinatie_tara1,,,,,,,,
18,feminin,18,Romana,rural,Valcea,studii gimnaziale,cunostinta/prieten(a),tentativa
999,masculin,42,Romana,urban,Brasov,fara studii,vecin,exploatare prin munca
Austria,feminin,19,Romana,urban,Vrancea,studii liceale,partener(a)/sot(ie),exploatare sexuala
Austria,feminin,15,Romana,urban,Hunedoara,studii primare,necunoscut,obligarea la furturi
Austria,feminin,19,Romana,rural,Bihor,studii liceale,cunostinta/prieten(a),exploatare sexuala
...,...,...,...,...,...,...,...,...
UK,feminin,25,Romana,urban,NaN,studii liceale,vecin,alte situatii de exploatare
UK,masculin,39,Romana,rural,Cluj,fara studii,cunostinta/prieten(a),obligarea la furturi
Ungaria,feminin,38,Romana,rural,Sibiu,fara studii,partener(a)/sot(ie),obligarea la cersetorie
Ungaria,masculin,21,Romana,rural,Mures,studii primare,necunoscut,exploatare prin munca
nan,feminin,16,Romana,rural,NaN,studii gimnaziale,cunostinta/prieten(a),obligarea la cersetorie

In [155]:
df.index.unique()

Index(['18', '999', 'Austria', 'Bahamas', 'Belgia', 'Cehia', 'Cipru',
       'Danemarca', 'Elvetia', 'Finlanda', 'Franta', 'Germania', 'Grecia',
       'Irlanda', 'Italia', 'Libia', 'Norvegia', 'Olanda', 'Portugalia',
       'Qatar', 'Romania', 'Spania', 'Suedia', 'Turcia', 'UK', 'Ungaria',
       'nan'],
      dtype='object', name='Destinatie_tara1')

In [157]:
df.index.unique()[2:]

Index(['Austria', 'Bahamas', 'Belgia', 'Cehia', 'Cipru', 'Danemarca',
       'Elvetia', 'Finlanda', 'Franta', 'Germania', 'Grecia', 'Irlanda',
       'Italia', 'Libia', 'Norvegia', 'Olanda', 'Portugalia', 'Qatar',
       'Romania', 'Spania', 'Suedia', 'Turcia', 'UK', 'Ungaria', 'nan'],
      dtype='object', name='Destinatie_tara1')

In [158]:
df.index.unique()[2:-1]

Index(['Austria', 'Bahamas', 'Belgia', 'Cehia', 'Cipru', 'Danemarca',
       'Elvetia', 'Finlanda', 'Franta', 'Germania', 'Grecia', 'Irlanda',
       'Italia', 'Libia', 'Norvegia', 'Olanda', 'Portugalia', 'Qatar',
       'Romania', 'Spania', 'Suedia', 'Turcia', 'UK', 'Ungaria'],
      dtype='object', name='Destinatie_tara1')

In [160]:
df.index.unique()[3:-6]

Index(['Bahamas', 'Belgia', 'Cehia', 'Cipru', 'Danemarca', 'Elvetia',
       'Finlanda', 'Franta', 'Germania', 'Grecia', 'Irlanda', 'Italia',
       'Libia', 'Norvegia', 'Olanda', 'Portugalia', 'Qatar', 'Romania'],
      dtype='object', name='Destinatie_tara1')

In [161]:
df.index.unique()[::2]

Index(['18', 'Austria', 'Belgia', 'Cipru', 'Elvetia', 'Franta', 'Grecia',
       'Italia', 'Norvegia', 'Portugalia', 'Romania', 'Suedia', 'UK', 'nan'],
      dtype='object', name='Destinatie_tara1')

In [163]:
df.index.unique()[::-1]

Index(['nan', 'Ungaria', 'UK', 'Turcia', 'Suedia', 'Spania', 'Romania',
       'Qatar', 'Portugalia', 'Olanda', 'Norvegia', 'Libia', 'Italia',
       'Irlanda', 'Grecia', 'Germania', 'Franta', 'Finlanda', 'Elvetia',
       'Danemarca', 'Cipru', 'Cehia', 'Belgia', 'Bahamas', 'Austria', '999',
       '18'],
      dtype='object', name='Destinatie_tara1')

In [164]:
az_en_indexem=df.index.unique()

Pythonic list composition

`for` és `if` parancsok

In [166]:
for elem in az_en_indexem[:4]:
    print(elem)

18
999
Austria
Bahamas

In [167]:
for i,elem in enumerate(az_en_indexem[:4]):
    print(i,elem)

0 18
1 999
2 Austria
3 Bahamas

In [169]:
for i in range(5):
    print(i,az_en_indexem[i])

0 18
1 999
2 Austria
3 Bahamas
4 Belgia

`range(honnan,hova,mekkora lepes=1)`

In [170]:
for i in range(3,8):
    print(i,az_en_indexem[i])

3 Bahamas
4 Belgia
5 Cehia
6 Cipru
7 Danemarca

Elegánsabb szűrés

In [173]:
for elem in az_en_indexem:
    if ( (elem=='18') or (elem=='999') ):
        print(elem)

18
999

In [174]:
tiltolista=['18','999']
for elem in az_en_indexem:
    if elem in tiltolista:
        print(elem)

18
999

In [176]:
for elem in az_en_indexem:
    if ( (elem!='18') and (elem!='999') ):
        print(elem)

Austria
Bahamas
Belgia
Cehia
Cipru
Danemarca
Elvetia
Finlanda
Franta
Germania
Grecia
Irlanda
Italia
Libia
Norvegia
Olanda
Portugalia
Qatar
Romania
Spania
Suedia
Turcia
UK
Ungaria
nan

In [177]:
for elem in az_en_indexem:
    if elem not in tiltolista:
        print(elem)

Austria
Bahamas
Belgia
Cehia
Cipru
Danemarca
Elvetia
Finlanda
Franta
Germania
Grecia
Irlanda
Italia
Libia
Norvegia
Olanda
Portugalia
Qatar
Romania
Spania
Suedia
Turcia
UK
Ungaria
nan

In [180]:
uj_index=[]
for elem in az_en_indexem:
    if elem not in ['18','999']:
        uj_index.append(elem)

In [181]:
uj_index

['Austria',
 'Bahamas',
 'Belgia',
 'Cehia',
 'Cipru',
 'Danemarca',
 'Elvetia',
 'Finlanda',
 'Franta',
 'Germania',
 'Grecia',
 'Irlanda',
 'Italia',
 'Libia',
 'Norvegia',
 'Olanda',
 'Portugalia',
 'Qatar',
 'Romania',
 'Spania',
 'Suedia',
 'Turcia',
 'UK',
 'Ungaria',
 'nan']

In [184]:
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [192]:
tiltolista=['18','999','nan']
uj_index2=[elem for elem in az_en_indexem if elem not in tiltolista]

In [194]:
uj_index2

['Austria',
 'Bahamas',
 'Belgia',
 'Cehia',
 'Cipru',
 'Danemarca',
 'Elvetia',
 'Finlanda',
 'Franta',
 'Germania',
 'Grecia',
 'Irlanda',
 'Italia',
 'Libia',
 'Norvegia',
 'Olanda',
 'Portugalia',
 'Qatar',
 'Romania',
 'Spania',
 'Suedia',
 'Turcia',
 'UK',
 'Ungaria']

In [196]:
df.loc[uj_index2]

,gen,varsta,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare
Destinatie_tara1,,,,,,,,
Austria,feminin,19,Romana,urban,Vrancea,studii liceale,partener(a)/sot(ie),exploatare sexuala
Austria,feminin,15,Romana,urban,Hunedoara,studii primare,necunoscut,obligarea la furturi
Austria,feminin,19,Romana,rural,Bihor,studii liceale,cunostinta/prieten(a),exploatare sexuala
Austria,feminin,19,Romana,rural,Bihor,studii liceale,cunostinta/prieten(a),exploatare sexuala
Austria,feminin,17,Romana,rural,Bihor,studii gimnaziale,cunostinta/prieten(a),exploatare sexuala
...,...,...,...,...,...,...,...,...
UK,masculin,32,Romana,urban,Cluj,fara studii,cunostinta/prieten(a),obligarea la furturi
UK,feminin,25,Romana,urban,NaN,studii liceale,vecin,alte situatii de exploatare
UK,masculin,39,Romana,rural,Cluj,fara studii,cunostinta/prieten(a),obligarea la furturi
Ungaria,feminin,38,Romana,rural,Sibiu,fara studii,partener(a)/sot(ie),obligarea la cersetorie
Ungaria,masculin,21,Romana,rural,Mures,studii primare,necunoscut,exploatare prin munca

In [197]:
df5=df.loc[uj_index2]

In [198]:
df5=df5.reset_index()

In [202]:
df5.sort_values(by='Destinatie_tara1',inplace=True)

In [203]:
df5.head()

,Destinatie_tara1,gen,varsta,Cetatenie,mediu_prov,judet_domiciliu,Nivel educatie,Relatia cu recrutorul,Forma de exploatare
0,Austria,feminin,19,Romana,urban,Vrancea,studii liceale,partener(a)/sot(ie),exploatare sexuala
22,Austria,feminin,14,Romana,rural,Arges,NaN,partener(a)/sot(ie),obligarea la cersetorie
21,Austria,feminin,22,Romana,urban,Braila,studii liceale,cunostinta/prieten(a),exploatare sexuala
20,Austria,feminin,22,Romana,rural,Vrancea,studii liceale,necunoscut,exploatare sexuala
19,Austria,feminin,17,Romana,rural,Suceava,studii liceale,necunoscut,exploatare sexuala

In [44]:
df5[['Destinatie_tara1']].replace('Belgia','Belgium').replace('Cehia','Cseh')
#df5[['Destinatie_tara1']].replace({'Belgia':'Belgium','Cehia':'Cseh'})

   Destinatie_tara1
0           Austria
1           Bahamas
2           Belgium
3              Cseh
4             Cipru
5         Danemarca
6           Elvetia
7          Finlanda
8            Franta
9          Germania
10           Grecia
11          Irlanda
12           Italia
13            Libia
14         Norvegia
15           Olanda
16       Portugalia
17            Qatar
18          Romania
19           Spania
20           Suedia
21           Turcia
22               UK
23          Ungaria

Python `dictionary`, azaz szotar: `{key1:value2, key2: value2, ...}`

In [204]:
nev_cserelo={'Belgia':'Belgium','Cehia':'Cseh'}
df5[['Destinatie_tara2']]=df5[['Destinatie_tara1']].replace(nev_cserelo)

In [205]:
df5.set_index('Destinatie_tara2')[['varsta']].to_excel('df5.xlsx')

In [208]:
df5=df5.set_index('Destinatie_tara2')[['varsta']]
df5.to_excel('df5.xlsx')

Geometria hozzatarsitas. Ezeket `shapefile`-típusú fájlokban találjuk. Ezeke ArcGIS. A `shapefile` fájlok nagyok, Csak az ArcGIS nyithatóak - ezért van egy nyílt standard, ez a `geojson`. (De a `geojson` elég régi és van egy újabb stnadardja a `topojson`).

Konvertálni egyszerű közöttük:
- https://mygeodata.cloud/converter/geojson-to-topojson
- https://www.igismap.com/convert-geojson-to-topojson-gis/
- https://jeffpaine.github.io/geojson-topojson/
- https://www.safe.com/convert/geojson/topojson/

Szükségunk van országok szintű `geojson`-ra.
https://github.com/johan/world.geo.json/blob/master/countries.geo.json

Románia megyék:
https://github.com/deldersveld/topojson/blob/master/countries/romania/romania-counties.json

Európa megyeszintű felosztás: https://data.europa.eu/euodp/en/data/dataset/HZKBS2y8ycdZijX0PMHPA

JSON file beolvasása

In [212]:
pd.read_json('countries.geo.json').head()

                type                                           features
0  FeatureCollection  {'type': 'Feature', 'id': 'AFG', 'properties':...
1  FeatureCollection  {'type': 'Feature', 'id': 'AGO', 'properties':...
2  FeatureCollection  {'type': 'Feature', 'id': 'ALB', 'properties':...
3  FeatureCollection  {'type': 'Feature', 'id': 'ARE', 'properties':...
4  FeatureCollection  {'type': 'Feature', 'id': 'ARG', 'properties':...

In [214]:
import json

In [216]:
#ha online nyitjuk meg akkor a `requests`-et kell hasznalni
file=open('countries.geo.json','r').read()
countries=json.loads(file)

In [219]:
countries=countries['features']

In [229]:
orszagok_angol=[country['properties']['name'] for country in countries]

In [230]:
orszagok_angol[:5]

['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates', 'Argentina']

In [233]:
orszagok_roman=list(df5.index.unique())
orszagok_roman=list(df5['Destinatie_tara1'].unique())

In [235]:
orszagok_roman[:5]

['Austria', 'Bahamas', 'Belgium', 'Cseh', 'Cipru']

Levenshtein függvény definiálása kólön python `.py` fileban.

In [241]:
import lev
#mappaban, akkor:
#from mappa_neve import comag

Összes távolság

In [242]:
orszag_matrix={}
for orszag1 in orszagok_roman:
    if orszag1 not in orszag_matrix:
        orszag_matrix[orszag1]={}
    for orszag2 in orszagok_angol:
        orszag_matrix[orszag1][orszag2]=lev.levenshteinDistance(orszag1,orszag2)
        #print(orszag1,orszag2)

In [245]:
orszag_matrix['Franta']['France']

2

Minimum távolságok

In [246]:
orszag_matrix_jo={}
for orszag1 in orszag_matrix:
    orszag_matrix_jo[orszag1]=min(orszag_matrix[orszag1],key=orszag_matrix[orszag1].get)

In [247]:
orszag_matrix_jo

{'Austria': 'Austria',
 'Bahamas': 'Panama',
 'Belgium': 'Belgium',
 'Cseh': 'Cuba',
 'Cipru': 'Cyprus',
 'Danemarca': 'Denmark',
 'Elvetia': 'Algeria',
 'Finlanda': 'Finland',
 'Franta': 'France',
 'Germania': 'Germany',
 'Grecia': 'Armenia',
 'Irlanda': 'Ireland',
 'Italia': 'Italy',
 'Libia': 'Libya',
 'Norvegia': 'Armenia',
 'Olanda': 'Rwanda',
 'Portugalia': 'Portugal',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Spania': 'Spain',
 'Suedia': 'India',
 'Turcia': 'Russia',
 'UK': 'Cuba',
 'Ungaria': 'Bulgaria'}

Hibák javítása manuálisan

In [251]:
orszagok_angol[:4]

['Afghanistan', 'Angola', 'Albania', 'United Arab Emirates']

In [255]:
orszag_matrix_jo['Cseh']='Czech Republic'
orszag_matrix_jo['Elvetia']='Switzerland'
orszag_matrix_jo['Grecia']='Greece'
orszag_matrix_jo['Norvegia']='Norway'
orszag_matrix_jo['Olanda']='Netherlands'
orszag_matrix_jo['Suedia']='Sweden'
orszag_matrix_jo['Turcia']='Turkey'
orszag_matrix_jo['UK']='United Kingdom'
orszag_matrix_jo['Ungaria']='Hungary'
orszag_matrix_jo['Bahamas']='The Bahamas'

In [256]:
orszag_matrix_jo

{'Austria': 'Austria',
 'Bahamas': 'The Bahamas',
 'Belgium': 'Belgium',
 'Cseh': 'Czech Republic',
 'Cipru': 'Cyprus',
 'Danemarca': 'Denmark',
 'Elvetia': 'Switzerland',
 'Finlanda': 'Finland',
 'Franta': 'France',
 'Germania': 'Germany',
 'Grecia': 'Greece',
 'Irlanda': 'Ireland',
 'Italia': 'Italy',
 'Libia': 'Libya',
 'Norvegia': 'Norway',
 'Olanda': 'Netherlands',
 'Portugalia': 'Portugal',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Spania': 'Spain',
 'Suedia': 'Sweden',
 'Turcia': 'Turkey',
 'UK': 'United Kingdom',
 'Ungaria': 'Hungary'}

Életkorok kinyerése a `df5` dataframeből

In [259]:
df5=df5.reset_index().groupby('Destinatie_tara2').mean()

In [260]:
df5.to_excel('df5.xlsx')

In [261]:
df5=pd.read_excel('df5.xlsx')

In [264]:
df5.set_index('Destinatie_tara2').head()

                     varsta
Destinatie_tara2
Austria           19.565217
Bahamas           37.000000
Belgium           30.153846
Cipru             37.666667
Cseh              31.000000

In [279]:
orszag_matrix_jo={'Austria': 'Austria',
 'Bahamas': 'The Bahamas',
 'Belgium': 'Belgium',
 'Cseh': 'Czech Republic',
 'Cipru': 'Cyprus',
 'Danemarca': 'Denmark',
 'Elvetia': 'Switzerland',
 'Finlanda': 'Finland',
 'Franta': 'France',
 'Germania': 'Germany',
 'Grecia': 'Greece',
 'Irlanda': 'Ireland',
 'Italia': 'Italy',
 'Libia': 'Libya',
 'Norvegia': 'Norway',
 'Olanda': 'Netherlands',
 'Portugalia': 'Portugal',
 'Qatar': 'Qatar',
 'Romania': 'Romania',
 'Spania': 'Spain',
 'Suedia': 'Sweden',
 'Turcia': 'Turkey',
 'UK': 'United Kingdom',
 'Ungaria': 'Hungary'}

In [280]:
df6=pd.DataFrame(orszag_matrix_jo,index=['angol']).T

In [281]:
df6.head(3)

               angol
Austria      Austria
Bahamas  The Bahamas
Belgium      Belgium

In [271]:
df5.set_index('Destinatie_tara2',inplace=True)

In [305]:
df7=df5.join(df6)

In [306]:
df7.head(2)

                     varsta        angol
Destinatie_tara2
Austria           19.565217      Austria
Bahamas           37.000000  The Bahamas

In [307]:
df7=df7.reset_index().set_index('angol')

In [308]:
df7.columns=['roman','varsta']

In [309]:
df7.head(2)

               roman     varsta
angol
Austria      Austria  19.565217
The Bahamas  Bahamas  37.000000

In [297]:
df7.loc['Greece']

roman     Grecia
varsta        26
Name: Greece, dtype: object

In [310]:
#ha online nyitjuk meg akkor a `requests`-et kell hasznalni
file=open('countries.geo.json','r').read()
countries=json.loads(file)

In [328]:
#valid ures geojson
countries_uj={
    "type": "FeatureCollection",
    "features": []
}
for feature in countries['features']:
    name_en=feature['properties']['name']
    if name_en in df7.index:
        feature['properties']['name_ro']=df7.loc[name_en]['roman']
        feature['properties']['eletkor']=df7.loc[name_en]['varsta']
        countries_uj['features'].append(feature)

Exportáljuk mint új `geojson`

In [330]:
export_file=open('countries_uj.geo.json','w')
export_file.write(json.dumps(countries_uj))

27471

In [332]:
#valid ures geojson
countries_ids={}
for feature in countries['features']:
    name_en=feature['properties']['name']
    countries_ids[name_en]=feature['id']

In [335]:
df7.to_excel('df7.xlsx')

In [339]:
df8=pd.DataFrame(countries_ids,index=['id']).T
df8.head(2)

              id
Afghanistan  AFG
Angola       AGO

In [341]:
df9=df7.join(df8)

In [352]:
ertekek=list(df9.reset_index().T.to_dict().values())

In [355]:
export_file=open('ertekek.json','w')
export_file.write(json.dumps(ertekek))

1901

In [354]:
ertekek

[{'angol': 'Austria',
  'roman': 'Austria',
  'varsta': 19.56521739130435,
  'id': 'AUT'},
 {'angol': 'The Bahamas', 'roman': 'Bahamas', 'varsta': 37.0, 'id': 'BHS'},
 {'angol': 'Belgium',
  'roman': 'Belgium',
  'varsta': 30.15384615384615,
  'id': 'BEL'},
 {'angol': 'Cyprus',
  'roman': 'Cipru',
  'varsta': 37.66666666666666,
  'id': 'CYP'},
 {'angol': 'Czech Republic', 'roman': 'Cseh', 'varsta': 31.0, 'id': 'CZE'},
 {'angol': 'Denmark',
  'roman': 'Danemarca',
  'varsta': 42.49019607843137,
  'id': 'DNK'},
 {'angol': 'Switzerland', 'roman': 'Elvetia', 'varsta': 21.0, 'id': 'CHE'},
 {'angol': 'Finland', 'roman': 'Finlanda', 'varsta': 24.0, 'id': 'FIN'},
 {'angol': 'France',
  'roman': 'Franta',
  'varsta': 24.48148148148148,
  'id': 'FRA'},
 {'angol': 'Germany',
  'roman': 'Germania',
  'varsta': 25.67272727272727,
  'id': 'DEU'},
 {'angol': 'Greece', 'roman': 'Grecia', 'varsta': 26.0, 'id': 'GRC'},
 {'angol': 'Ireland', 'roman': 'Irlanda', 'varsta': 24.9375, 'id': 'IRL'},
 {'angol': 'Italy',
  'roman': 'Italia',
  'varsta': 25.52252252252252,
  'id': 'ITA'},
 {'angol': 'Libya',
  'roman': 'Libia',
  'varsta': 48.66666666666666,
  'id': 'LBY'},
 {'angol': 'Norway',
  'roman': 'Norvegia',
  'varsta': 27.66666666666667,
  'id': 'NOR'},
 {'angol': 'Netherlands',
  'roman': 'Olanda',
  'varsta': 22.16666666666667,
  'id': 'NLD'},
 {'angol': 'Portugal',
  'roman': 'Portugalia',
  'varsta': 33.88235294117647,
  'id': 'PRT'},
 {'angol': 'Qatar', 'roman': 'Qatar', 'varsta': 35.0, 'id': 'QAT'},
 {'angol': 'Romania',
  'roman': 'Romania',
  'varsta': 18.17268041237113,
  'id': 'ROU'},
 {'angol': 'Spain',
  'roman': 'Spania',
  'varsta': 32.2051282051282,
  'id': 'ESP'},
 {'angol': 'Sweden', 'roman': 'Suedia', 'varsta': 22.2, 'id': 'SWE'},
 {'angol': 'Turkey',
  'roman': 'Turcia',
  'varsta': 34.33333333333334,
  'id': 'TUR'},
 {'angol': 'United Kingdom',
  'roman': 'UK',
  'varsta': 24.66666666666667,
  'id': 'GBR'},
 {'angol': 'Hungary', 'roman': 'Ungaria', 'varsta': 29.5, 'id': 'HUN'}]