Amikor pandasban az index egy dátum - akkor a `DataFrame` átalakul _time series_-é, azaz _idősorrá_.

In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame([0,1,25,36,4,75,68,7,8])

In [3]:
df.columns=['Ertek']

In [4]:
df['Ev']=[2001,2001,2002,2002,2003,2003,2003,2004,2008]
df['Honap']=[1,2,1,2,5,6,7,8,8]

In [6]:
df['Ev'].astype(str)+'-'+df['Honap'].astype(str)

0    2001-1
1    2001-2
2    2002-1
3    2002-2
4    2003-5
5    2003-6
6    2003-7
7    2004-8
8    2008-8
dtype: object

In [22]:
df['Szepdatum']=pd.to_datetime(df['Ev'].astype(str)+'-'+df['Honap'].astype(str))

In [8]:
df['Szepdatum2']=pd.to_datetime(df['Honap'].astype(str)+'/'+df['Ev'].astype(str))

In [15]:
df=df.set_index('Szepdatum').sort_index()

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 9 entries, 2001-01-01 to 2008-08-01
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Ertek       9 non-null      int64
 1   Ev          9 non-null      int64
 2   Honap       9 non-null      int64
 3   Szepdatum2  9 non-null      datetime64[ns]
dtypes: datetime64[ns](1), int64(3)
memory usage: 360.0 bytes

In [17]:
df

            Ertek    Ev  Honap Szepdatum2
Szepdatum
2001-01-01      0  2001      1 2001-01-01
2001-02-01      1  2001      2 2001-02-01
2002-01-01     25  2002      1 2002-01-01
2002-02-01     36  2002      2 2002-02-01
2003-05-01      4  2003      5 2003-05-01
2003-06-01     75  2003      6 2003-06-01
2003-07-01     68  2003      7 2003-07-01
2004-08-01      7  2004      8 2004-08-01
2008-08-01      8  2008      8 2008-08-01

In [23]:
df['Szepdatum'].dt.month

Szepdatum
2001-01-01    1
2001-02-01    2
2002-01-01    1
2002-02-01    2
2003-05-01    5
2003-06-01    6
2003-07-01    7
2004-08-01    8
2008-08-01    8
Name: Szepdatum, dtype: int64

In [ ]:
'2010-01-01 23:43:00'

In [27]:
df['Szepdatum'].dt.minute

Szepdatum
2001-01-01    0
2001-02-01    0
2002-01-01    0
2002-02-01    0
2003-05-01    0
2003-06-01    0
2003-07-01    0
2004-08-01    0
2008-08-01    0
Name: Szepdatum, dtype: int64

In [29]:
df['Szepdatum'].dt.month_name(locale='RO')

Szepdatum
2001-01-01     Ianuarie
2001-02-01    Februarie
2002-01-01     Ianuarie
2002-02-01    Februarie
2003-05-01          Mai
2003-06-01        Iunie
2003-07-01        Iulie
2004-08-01       August
2008-08-01       August
Name: Szepdatum, dtype: object

In [30]:
df['Szepdatum'].dt.month_name('HUN')

Szepdatum
2001-01-01       Január
2001-02-01      Február
2002-01-01       Január
2002-02-01      Február
2003-05-01        Május
2003-06-01       Június
2003-07-01       Július
2004-08-01    Augusztus
2008-08-01    Augusztus
Name: Szepdatum, dtype: object

In [41]:
df['Szepdatum'].dt

In [ ]:
df['Szepdatum'].dt