In [2]:
import pandas as pd

In [7]:
import numpy as np

In [9]:
df=pd.read_json('valami.json')

In [10]:
df

      name  size
0    alpha    19
1     beta    12
2    gamma    40
3    delta    26
4  epsilon    22
5     zeta    26
6    theta    11
7      eta    24

In [11]:
df['name']

0      alpha
1       beta
2      gamma
3      delta
4    epsilon
5       zeta
6      theta
7        eta
Name: name, dtype: object

In [12]:
df.loc[4]

name    epsilon
size         22
Name: 4, dtype: object

In [13]:
df['uj']=9

In [14]:
df

      name  size  uj
0    alpha    19   9
1     beta    12   9
2    gamma    40   9
3    delta    26   9
4  epsilon    22   9
5     zeta    26   9
6    theta    11   9
7      eta    24   9

In [15]:
df.to_json('valami2.json')

In [16]:
df.T

          0     1      2      3        4     5      6    7
name  alpha  beta  gamma  delta  epsilon  zeta  theta  eta
size     19    12     40     26       22    26     11   24
uj        9     9      9      9        9     9      9    9

In [17]:
import json

In [18]:
enyem=df.T.to_json()

In [19]:
enyem

'{"0":{"name":"alpha","size":19,"uj":9},"1":{"name":"beta","size":12,"uj":9},"2":{"name":"gamma","size":40,"uj":9},"3":{"name":"delta","size":26,"uj":9},"4":{"name":"epsilon","size":22,"uj":9},"5":{"name":"zeta","size":26,"uj":9},"6":{"name":"theta","size":11,"uj":9},"7":{"name":"eta","size":24,"uj":9}}'

In [22]:
enyemjson=json.loads(enyem)

In [23]:
enyemjson

{'0': {'name': 'alpha', 'size': 19, 'uj': 9},
 '1': {'name': 'beta', 'size': 12, 'uj': 9},
 '2': {'name': 'gamma', 'size': 40, 'uj': 9},
 '3': {'name': 'delta', 'size': 26, 'uj': 9},
 '4': {'name': 'epsilon', 'size': 22, 'uj': 9},
 '5': {'name': 'zeta', 'size': 26, 'uj': 9},
 '6': {'name': 'theta', 'size': 11, 'uj': 9},
 '7': {'name': 'eta', 'size': 24, 'uj': 9}}

In [24]:
enyemjson.keys

In [25]:
enyemjson.keys()

dict_keys(['0', '1', '2', '3', '4', '5', '6', '7'])

In [27]:
jsonlist=list(enyemjson.values())

In [29]:
json.dumps(jsonlist)

'[{"name": "alpha", "size": 19, "uj": 9}, {"name": "beta", "size": 12, "uj": 9}, {"name": "gamma", "size": 40, "uj": 9}, {"name": "delta", "size": 26, "uj": 9}, {"name": "epsilon", "size": 22, "uj": 9}, {"name": "zeta", "size": 26, "uj": 9}, {"name": "theta", "size": 11, "uj": 9}, {"name": "eta", "size": 24, "uj": 9}]'

In [30]:
open('ujvalami.json','w').write=(json.dumps(jsonlist))

In [35]:
df['uj2']=['a','b','c','d','f','e']

ValueError: Length of values does not match length of index

In [95]:
dfs=pd.read_excel('C://Desktop/adat.excel')

In [106]:
df

,0,1
0,v t e Lists of countries by GDP rankings,NaN
1,Purchasing power parity (PPP),Per capita Past per capita Past and projected ...
2,Nominal,Per capita Past and projected per capita Secto...
3,Growth rate,African countries Asian states European Union ...
4,Gross national income (GNI),PPP Nominal
5,Countries by region,Africa PPP nominal Commonwealth of Nations nom...
6,Subnational divisions,Argentina Australia Brazil Canada Chile per ca...
7,Lists of countries by financial rankings List ...,NaN

In [107]:
df.columns=df.loc[1]

In [108]:
df

1,Purchasing power parity (PPP),Per capita Past per capita Past and projected per capita Private consumption per capita Per hour Per person employed Ten largest historically 19th century
0,v t e Lists of countries by GDP rankings,NaN
1,Purchasing power parity (PPP),Per capita Past per capita Past and projected ...
2,Nominal,Per capita Past and projected per capita Secto...
3,Growth rate,African countries Asian states European Union ...
4,Gross national income (GNI),PPP Nominal
5,Countries by region,Africa PPP nominal Commonwealth of Nations nom...
6,Subnational divisions,Argentina Australia Brazil Canada Chile per ca...
7,Lists of countries by financial rankings List ...,NaN

In [109]:
df=df.set_index('Month')

KeyError: 'Month'

In [ ]:
df

In [ ]:
df=df.loc[['Mean monthly sunshine hours','Month']]

In [ ]:
df

In [ ]:
mylist=list(json.loads(df.to_json()).values())

In [ ]:
df.T.to_json()

In [ ]:
open('ures.json','w').write(json.dumps(mylist))

In [ ]:
df

In [ ]:
df=df.T

In [ ]:
df

In [ ]:
df['Mean monthly sunshine hours'].astype(int).values

In [ ]:
df['egyujnev']=df['Mean monthly sunshine hours'].astype(int).values

In [ ]:
df

In [ ]:
df=df.T

In [ ]:
mylist=list(json.loads(df.to_json()).values())

In [110]:
open('ures.json','w').write(json.dumps(mylist))

944

In [3]:
dfs=pd.read_excel('adat.xlsx')

In [5]:
df=dfs

In [117]:
df=df.set_index("Orszag")

KeyError: 'Orszag'

In [122]:
df.columns=df.loc[-1]

KeyError: 'the label [-1] is not in the [index]'

In [123]:
df=df

0                  Albania    4458.07
0                  Albania    4458.07
1                  Armenia    3486.15
2                  Austria   50513.39
3               Azerbaijan    7811.62
4                  Belarus    7722.12
5                  Belgium   46927.25
6   Bosnia_and_Herzegovina    4668.80
7                 Bulgaria    7498.83
8                  Croatia   13597.92
9                   Cyprus   27910.62
10          Czech_Republic   19858.34
11                 Denmark   59818.63
12                 Finland   49310.23
13                  France   42627.65
14                 Georgia    3596.91
15                 Germany   46254.98
16                  Greece   21965.96
17                 Grenada    7889.89
18                 Hungary   13486.59
19                 Iceland   47548.69
20                 Ireland   50470.32
21                   Italy   35477.47
22                   Japan   38633.71
23                  Latvia   15357.27
24               Lithuania   15689.00
25              Luxembourg  110664.84
26          Macedonia,_FYR    5195.28
27                   Malta   22776.19
28                 Moldova    2243.98
29              Montenegro    7110.76
30             Netherlands   50792.51
31                  Norway  102832.26
32                  Poland   13829.16
33                Portugal   21507.71
34                 Romania    9489.69
35                  Serbia    6353.83
36         Slovak_Republic   18050.17
37                Slovenia   23296.58
38                   Spain   29880.71
39                  Sweden   60364.91
40             Switzerland   84732.96
41                  Turkey   10975.07
42                 Ukraine    4029.72
43          United_Kingdom   41776.76
44           United_States   52980.04

In [1]:
dfs=pd.read_excel('adat.xlsx')

NameError: name 'pd' is not defined

In [125]:
df=dfs

In [126]:
df

                    Orszag  GDP/fo (PPP)
0                  Albania        4458.07
1                  Armenia        3486.15
2                  Austria       50513.39
3               Azerbaijan        7811.62
4                  Belarus        7722.12
5                  Belgium       46927.25
6   Bosnia_and_Herzegovina        4668.80
7                 Bulgaria        7498.83
8                  Croatia       13597.92
9                   Cyprus       27910.62
10          Czech_Republic       19858.34
11                 Denmark       59818.63
12                 Finland       49310.23
13                  France       42627.65
14                 Georgia        3596.91
15                 Germany       46254.98
16                  Greece       21965.96
17                 Grenada        7889.89
18                 Hungary       13486.59
19                 Iceland       47548.69
20                 Ireland       50470.32
21                   Italy       35477.47
22                   Japan       38633.71
23                  Latvia       15357.27
24               Lithuania       15689.00
25              Luxembourg      110664.84
26          Macedonia,_FYR        5195.28
27                   Malta       22776.19
28                 Moldova        2243.98
29              Montenegro        7110.76
30             Netherlands       50792.51
31                  Norway      102832.26
32                  Poland       13829.16
33                Portugal       21507.71
34                 Romania        9489.69
35                  Serbia        6353.83
36         Slovak_Republic       18050.17
37                Slovenia       23296.58
38                   Spain       29880.71
39                  Sweden       60364.91
40             Switzerland       84732.96
41                  Turkey       10975.07
42                 Ukraine        4029.72
43          United_Kingdom       41776.76
44           United_States       52980.04

In [6]:
df=df.T

In [131]:
df

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Orszag,Albania,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia_and_Herzegovina,Bulgaria,Croatia,Cyprus,...,Serbia,Slovak_Republic,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United_Kingdom,United_States
GDP/fo (PPP),4458.07,3486.15,50513.4,7811.62,7722.12,46927.2,4668.8,7498.83,13597.9,27910.6,...,6353.83,18050.2,23296.6,29880.7,60364.9,84733,10975.1,4029.72,41776.8,52980

In [139]:
df

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Orszag,Albania,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia_and_Herzegovina,Bulgaria,Croatia,Cyprus,...,Serbia,Slovak_Republic,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United_Kingdom,United_States
GDP/fo (PPP),4458.07,3486.15,50513.4,7811.62,7722.12,46927.2,4668.8,7498.83,13597.9,27910.6,...,6353.83,18050.2,23296.6,29880.7,60364.9,84733,10975.1,4029.72,41776.8,52980

In [138]:
df=df.set_index('Orszag')

KeyError: 'Orszag'

In [140]:
df

,0,1,2,3,4,5,6,7,8,9,...,35,36,37,38,39,40,41,42,43,44
Orszag,Albania,Armenia,Austria,Azerbaijan,Belarus,Belgium,Bosnia_and_Herzegovina,Bulgaria,Croatia,Cyprus,...,Serbia,Slovak_Republic,Slovenia,Spain,Sweden,Switzerland,Turkey,Ukraine,United_Kingdom,United_States
GDP/fo (PPP),4458.07,3486.15,50513.4,7811.62,7722.12,46927.2,4668.8,7498.83,13597.9,27910.6,...,6353.83,18050.2,23296.6,29880.7,60364.9,84733,10975.1,4029.72,41776.8,52980

In [8]:
df=df.to_json()

In [10]:
df

'{"0":{"Orszag":"Albania","GDP\\/fo ":4458.07},"1":{"Orszag":"Armenia","GDP\\/fo ":3486.15},"2":{"Orszag":"Austria","GDP\\/fo ":50513.39},"3":{"Orszag":"Azerbaijan","GDP\\/fo ":7811.62},"4":{"Orszag":"Belarus","GDP\\/fo ":7722.12},"5":{"Orszag":"Belgium","GDP\\/fo ":46927.25},"6":{"Orszag":"Bosnia_and_Herzegovina","GDP\\/fo ":4668.8},"7":{"Orszag":"Bulgaria","GDP\\/fo ":7498.83},"8":{"Orszag":"Croatia","GDP\\/fo ":13597.92},"9":{"Orszag":"Cyprus","GDP\\/fo ":27910.62},"10":{"Orszag":"Czech_Republic","GDP\\/fo ":19858.34},"11":{"Orszag":"Denmark","GDP\\/fo ":59818.63},"12":{"Orszag":"Finland","GDP\\/fo ":49310.23},"13":{"Orszag":"France","GDP\\/fo ":42627.65},"14":{"Orszag":"Georgia","GDP\\/fo ":3596.91},"15":{"Orszag":"Germany","GDP\\/fo ":46254.98},"16":{"Orszag":"Greece","GDP\\/fo ":21965.96},"17":{"Orszag":"Grenada","GDP\\/fo ":7889.89},"18":{"Orszag":"Hungary","GDP\\/fo ":13486.59},"19":{"Orszag":"Iceland","GDP\\/fo ":47548.69},"20":{"Orszag":"Ireland","GDP\\/fo ":50470.32},"21":{"Orszag":"Italy","GDP\\/fo ":35477.47},"22":{"Orszag":"Japan","GDP\\/fo ":38633.71},"23":{"Orszag":"Latvia","GDP\\/fo ":15357.27},"24":{"Orszag":"Lithuania","GDP\\/fo ":15689.0},"25":{"Orszag":"Luxembourg","GDP\\/fo ":110664.84},"26":{"Orszag":"Macedonia,_FYR","GDP\\/fo ":5195.28},"27":{"Orszag":"Malta","GDP\\/fo ":22776.19},"28":{"Orszag":"Moldova","GDP\\/fo ":2243.98},"29":{"Orszag":"Montenegro","GDP\\/fo ":7110.76},"30":{"Orszag":"Netherlands","GDP\\/fo ":50792.51},"31":{"Orszag":"Norway","GDP\\/fo ":102832.26},"32":{"Orszag":"Poland","GDP\\/fo ":13829.16},"33":{"Orszag":"Portugal","GDP\\/fo ":21507.71},"34":{"Orszag":"Romania","GDP\\/fo ":9489.69},"35":{"Orszag":"Serbia","GDP\\/fo ":6353.83},"36":{"Orszag":"Slovak_Republic","GDP\\/fo ":18050.17},"37":{"Orszag":"Slovenia","GDP\\/fo ":23296.58},"38":{"Orszag":"Spain","GDP\\/fo ":29880.71},"39":{"Orszag":"Sweden","GDP\\/fo ":60364.91},"40":{"Orszag":"Switzerland","GDP\\/fo ":84732.96},"41":{"Orszag":"Turkey","GDP\\/fo ":10975.07},"42":{"Orszag":"Ukraine","GDP\\/fo ":4029.72},"43":{"Orszag":"United_Kingdom","GDP\\/fo ":41776.76},"44":{"Orszag":"United_States","GDP\\/fo ":52980.04}}'

In [16]:
mylist=list(json.loads(df).values())

In [12]:
import json

In [17]:
open('ures2.json','w').write(json.dumps(mylist))

2021